In [73]:
# set up and load data, checking we've gotten it all
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import string

In [74]:
mpesa_started=2007

In [75]:
path="C:\\Users\\Nicholas\\text Analysis\\MPESA_Statement.csv"
attributes=["Transaction_code","Transaction_date"]
df=pd.read_csv(path,names=attributes)
display(df.head(n=1000))

    Transaction_code Transaction_date
0         PIU3LW5BY5  9/30/2021 20:42
1         PIU8LU4O6S  9/30/2021 20:13
2         PIU0L27K5K  9/30/2021 13:43
3         PIU7L19T6L  9/30/2021 13:27
4         PIU8KUD2YE  9/30/2021 11:23
..               ...              ...
132       PI15C3NHGJ   9/1/2021 10:44
133       PI17C3H2DP   9/1/2021 10:40
134       PI10C3FJ9W   9/1/2021 10:39
135       PI17C2XI25   9/1/2021 10:29
136        NDP8H0QOU        4/25/2019

[137 rows x 2 columns]

In [76]:
df['Convert_Date'] = pd.to_datetime(df['Transaction_date'])
df['Converted_Date']= df['Convert_Date'].dt.strftime('%Y-%m-%d')
df

    Transaction_code Transaction_date        Convert_Date Converted_Date
0         PIU3LW5BY5  9/30/2021 20:42 2021-09-30 20:42:00     2021-09-30
1         PIU8LU4O6S  9/30/2021 20:13 2021-09-30 20:13:00     2021-09-30
2         PIU0L27K5K  9/30/2021 13:43 2021-09-30 13:43:00     2021-09-30
3         PIU7L19T6L  9/30/2021 13:27 2021-09-30 13:27:00     2021-09-30
4         PIU8KUD2YE  9/30/2021 11:23 2021-09-30 11:23:00     2021-09-30
..               ...              ...                 ...            ...
132       PI15C3NHGJ   9/1/2021 10:44 2021-09-01 10:44:00     2021-09-01
133       PI17C3H2DP   9/1/2021 10:40 2021-09-01 10:40:00     2021-09-01
134       PI10C3FJ9W   9/1/2021 10:39 2021-09-01 10:39:00     2021-09-01
135       PI17C2XI25   9/1/2021 10:29 2021-09-01 10:29:00     2021-09-01
136        NDP8H0QOU        4/25/2019 2019-04-25 00:00:00     2019-04-25

[137 rows x 4 columns]

In [77]:
df['Final_trans_date'] = df['Convert_Date'].dt.normalize()
df['Final_transaction_date']= df['Final_trans_date'].dt.strftime('%Y-%m-%d')
df

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30
...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25

In [78]:
df['Decoded_Year'] = df['Transaction_code'].str[:1].str.lower()

df['y-m'] = df['Transaction_code'].str[:2]
df['Decoded_Month'] = df['y-m'].str[-1].str.lower()

df['y-m-d'] = df['Transaction_code'].str[:3]
df['Decoded_Date'] = df['y-m-d'].str[-1].str.lower()
df

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date,Decoded_Year,y-m,Decoded_Month,y-m-d,Decoded_Date
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u
...,...,...,...,...,...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25,n,ND,d,NDP,p

In [79]:
def mpesa_y_code(text):

    dict = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6','g':'7','h':'8','i':'9','j':'10','k':'11','l':'12','m':'13','n':'14','o':'15','p':'16','q':'17','r':'18','s':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'}
    new_text = text
    for i in new_text:
        if i in dict:
            new_text = new_text.replace(i, dict[i])
    return new_text

In [80]:
df['Year'] = df["Decoded_Year"].apply(mpesa_y_code)

In [81]:
def mpesa_m_code(text):

    dict = {'a':'01','b':'02','c':'03','d':'04','e':'05','f':'06','g':'07','h':'08','i':'09','j':'10','k':'11','l':'12','m':'13','n':'14','o':'15','p':'16','q':'17','r':'18','s':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'}
    new_text = text
    for i in new_text:
        if i in dict:
            new_text = new_text.replace(i, dict[i])
    return new_text

In [82]:
df['Month']= df['Decoded_Month'].apply(mpesa_m_code)

In [83]:
def mpesa_d_code(text):

    dict = {'1':'01','2':'02','3':'03','4':'04','5':'05','6':'06','7':'07','8':'08','9':'09', 'a':'10','b':'11','c':'12','d':'13','e':'14','f':'15','g':'16','h':'17','i':'18','j':'19','k':'20','l':'21','m':'22','n':'23','o':'24','p':'25','q':'26','r':'27','s':'28','t':'29','u':'30','v':'31'}
    new_text = text
    for i in new_text:
        if i in dict:
            new_text = new_text.replace(i, dict[i])
    return new_text

In [84]:
df['date']=df['Decoded_Date'].apply(mpesa_d_code)

In [85]:
df.head(1000)

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date,Decoded_Year,y-m,Decoded_Month,y-m-d,Decoded_Date,Year,Month,date
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u,16,09,30
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u,16,09,30
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u,16,09,30
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u,16,09,30
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30,p,PI,i,PIU,u,16,09,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1,16,09,01
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1,16,09,01
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1,16,09,01
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01,p,PI,i,PI1,1,16,09,01
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25,n,ND,d,NDP,p,14,04,25

In [86]:
df.insert(loc=7, column='Mpesa_Started', value=mpesa_started)
df

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date,Decoded_Year,Mpesa_Started,y-m,Decoded_Month,y-m-d,Decoded_Date,Year,Month,date
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25,n,2007,ND,d,NDP,p,14,04,25

In [87]:
df["Trans_Year"] = (df["Mpesa_Started"] + df["Year"].astype(int))-2
df

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date,Decoded_Year,Mpesa_Started,y-m,Decoded_Month,y-m-d,Decoded_Date,Year,Month,date,Trans_Year
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25,n,2007,ND,d,NDP,p,14,04,25,2019

In [88]:
cols = ['Trans_Year','Month','date']
df['Trans_newdate'] = df[cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
df

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date,Decoded_Year,Mpesa_Started,y-m,Decoded_Month,y-m-d,Decoded_Date,Year,Month,date,Trans_Year,Trans_newdate
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25,n,2007,ND,d,NDP,p,14,04,25,2019,2019-04-25

In [89]:
df['is_equal']= (df['Final_transaction_date']==df['Trans_newdate'])
df

#df['is_datequal'] =(df['Final_transaction_date'].str.lower().str.replace('s/+',"") == df['Trans_newdate'].str.lower().str.replace('s/+',""))
#df

,Transaction_code,Transaction_date,Convert_Date,Converted_Date,Final_trans_date,Final_transaction_date,Decoded_Year,Mpesa_Started,y-m,Decoded_Month,y-m-d,Decoded_Date,Year,Month,date,Trans_Year,Trans_newdate,is_equal
0,PIU3LW5BY5,9/30/2021 20:42,2021-09-30 20:42:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30,True
1,PIU8LU4O6S,9/30/2021 20:13,2021-09-30 20:13:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30,True
2,PIU0L27K5K,9/30/2021 13:43,2021-09-30 13:43:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30,True
3,PIU7L19T6L,9/30/2021 13:27,2021-09-30 13:27:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30,True
4,PIU8KUD2YE,9/30/2021 11:23,2021-09-30 11:23:00,2021-09-30,2021-09-30,2021-09-30,p,2007,PI,i,PIU,u,16,09,30,2021,2021-09-30,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,PI15C3NHGJ,9/1/2021 10:44,2021-09-01 10:44:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01,True
133,PI17C3H2DP,9/1/2021 10:40,2021-09-01 10:40:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01,True
134,PI10C3FJ9W,9/1/2021 10:39,2021-09-01 10:39:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01,True
135,PI17C2XI25,9/1/2021 10:29,2021-09-01 10:29:00,2021-09-01,2021-09-01,2021-09-01,p,2007,PI,i,PI1,1,16,09,01,2021,2021-09-01,True
136,NDP8H0QOU,4/25/2019,2019-04-25 00:00:00,2019-04-25,2019-04-25,2019-04-25,n,2007,ND,d,NDP,p,14,04,25,2019,2019-04-25,True

In [90]:
df.to_excel("C:\\Users\\Nicholas\\Desktop\\Decoded Mpesa code.xlsx",
             sheet_name='Sheet 1')